<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <connectionStrings>
        <add name="conn" connectionString="Host=localhost;Username=gabo_adm;Password=g@bo_gym;Database=gabo_gym" />
    </connectionStrings>
</configuration>